svg {
  fill: #fc8019;
}
._1envo {
  height: 125px;
  width: 200px;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  fill: #fc8019;
  margin-top: 92px;
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  padding: 0px 0px 0px 78px;
}
.collapse {
  padding: 60px 41px 0px 0px;
}
