.m3-34 {
  width: 680px;
  padding-right: 60px;
}
.sZsUd {
  margin-top: 140px;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.45px;
}
._1E3AJ {
  font-size: 24px;
  font-weight: 300;
  width: 600px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  letter-spacing: -0.3px;
  color: #686b78;
}
